@{
    ViewBag.Title = "Index";
}

<script src="/Scripts/bundle.js"></script>

<script type="text/javascript">
    var BiasViewModel = require('BiasViewModel');

    jQuery.extend({
        postJSON: function (url, data, callback) {
            return jQuery.post(url, data, callback, "json");
        }
    });
    window.alert('h');
    $(window).load(function () {
        $.getJSON("/api/BiasReport/1", function (callbackData) {

            var vm = new BiasViewModel(callbackData);
            ko.applyBindings(vm);
        });


    });
</script>



<h2>Bias Session: <span data-bind="text: biasSessionId"></span></h2>
<form method="POST">
 
    
    <table>
        <thead>
            <tr>
                <th>ticker</th>
                <th>tradeCount</th>
                <th>benchmarkWeight</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: biasRows">
            <tr>
                <td data-bind="text:ticker"></td>
                <td>
                    <input type="text" data-bind="value:tradeCount, valueUpdate: 'keyup', event: { change: $parent.tradeValueChanged } " />
                </td>
                <td data-bind="text:benchmarkWeight"></td>
            </tr>
        </tbody>
    </table>

    <table>

    </table>
</form>

<h2>Sectors</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: sectors">
        <tr>
            <td data-bind="text:Name"></td>
            <td data-bind="text:Weight" ></td>
        </tr>
    </tbody>
</table>

