@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function BiasViewModel(biasReport) {
        var self = this;
        self.biasRows = ko.observableArray(ko.utils.arrayMap(biasReport.BiasRows, function (biasRow) {
            return {
                ticker: ko.observable(biasRow.Ticker),
                tradeCount: ko.observable(biasRow.TradeCount),
                benchmarkWeight: ko.observable(biasRow.BenchmarkWeight)
            };
        }));
        
        self.biasSessionId = ko.observable(biasReport.BiasSessionId);

        self.tradeValueChanged = function (biasRow) {

            var biasTradeEvent = { BiasSessionId: self.biasSessionId(), TradeAmount: biasRow.tradeCount, Ticker: biasRow.ticker };
            $.postJSON("/api/BiasTrade", biasTradeEvent, function (updatedBiasRow) {
                biasRow.benchmarkWeight(updatedBiasRow.BenchmarkWeight);
            });
        };
        
    }

    jQuery.extend({
        postJSON: function (url, data, callback) {
            return jQuery.post(url, data, callback, "json");
        }
    });

    $(window).load(function () {
        $.getJSON("/api/BiasReport/1", function (callbackData) {
            
            var vm = new BiasViewModel(callbackData);
            ko.applyBindings(vm);
        });
     

    });
    


</script>
<h2>Bias Session: <span data-bind="text: biasSessionId"></span></h2>
<form method="POST">
 
    
    
    <div data-bind="foreach: biasRows">
        <div><span data-bind="text:ticker"></span><input type="text" data-bind="value:tradeCount, valueUpdate: 'keyup', event: { change: $parent.tradeValueChanged } "/><span data-bind="text:benchmarkWeight"></span></div>
    </div>
</form>
