@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/vendor.js"></script>
<script src="/Scripts/biasapp.js"></script>

<script type="text/javascript">
    var biasapp = require('bias_app');

    $(window).load(function () {
        biasapp.initialize({ applyBindings: true });
    });

</script>
<h2>Bias Session: <span data-bind="text: biasSessionId"></span></h2>
<form method="POST">
    <table id="bias_table">
        <thead>
            <tr>
                <th>ticker</th>
                <th>tradeCount</th>
                <th>benchmarkWeight</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: biasRows">
            <tr>
                <td data-bind="text:ticker"></td>
                <td>
                    <input type="text" data-bind="value:tradeCount, valueUpdate: 'keyup', event: { change: $parent.tradeValueChanged } " />
                </td>
                <td data-bind="text:benchmarkWeight"></td>
            </tr>
        </tbody>
    </table>
</form>

<h2>Sectors</h2>
<div id="sector_div">
    <div data-bind="text:count"></div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: sectors">
            <tr>
                <td data-bind="text:name"></td>
                <td data-bind="text:weight"></td>
            </tr>
        </tbody>
    </table>
</div>
