@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function BiasViewModel(biasReport) {
        var self = this;
        self.biasRows = ko.observableArray(ko.utils.arrayMap(biasReport.BiasRows, function (biasRow) {
            return {
                ticker: ko.observable(biasRow.Ticker),
                tradeCount: ko.observable(biasRow.TradeCount),
                benchmarkWeight: ko.observable(biasRow.BenchmarkWeight)
            };
        }));
        self.sectors = ko.observableArray();
        
        self.biasSessionId = ko.observable(biasReport.BiasSessionId);

        self.tradeValueChanged = function (biasRow) {

            var biasTradeEvent = { BiasSessionId: self.biasSessionId(), TradeAmount: biasRow.tradeCount, Ticker: biasRow.ticker };
            $.postJSON("/api/BiasTrade", biasTradeEvent, function (updateResult) {
                console.log(updateResult);
                biasRow.benchmarkWeight(updateResult.BiasRow.BenchmarkWeight);
                self.sectors(updateResult.Sectors);
            });
        };
        
    }


    jQuery.extend({
        postJSON: function (url, data, callback) {
            return jQuery.post(url, data, callback, "json");
        }
    });

    $(window).load(function () {
        $.getJSON("/api/BiasReport/1", function (callbackData) {
            
            var vm = new BiasViewModel(callbackData);
            ko.applyBindings(vm);
        });
     

    });
    


</script>
<h2>Bias Session: <span data-bind="text: biasSessionId"></span></h2>
<form method="POST">
 
    
    <table>
        <thead>
            <tr>
                <th>ticker</th>
                <th>tradeCount</th>
                <th>benchmarkWeight</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: biasRows">
            <tr>
                <td data-bind="text:ticker"></td>
                <td>
                    <input type="text" data-bind="value:tradeCount, valueUpdate: 'keyup', event: { change: $parent.tradeValueChanged } " />
                </td>
                <td data-bind="text:benchmarkWeight"></td>
            </tr>
        </tbody>
    </table>

    <table>

    </table>
</form>

<h2>Sectors</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: sectors">
        <tr>
            <td data-bind="text:Name"></td>
            <td data-bind="text:Weight" ></td>
        </tr>
    </tbody>
</table>

